
*.config
*.cache
*.txt
*.cache
*.lref
*.cache
*.stk
LaserWar/bin/Debug/EntityFramework.xml
LaserWar/bin/Debug/AngleSharp.xml
LaserWar/bin/Debug/Microsoft.Threading.Tasks.Extensions.xml
LaserWar/bin/Debug/Microsoft.Threading.Tasks.xml
LaserWar/bin/Debug/Newtonsoft.Json.xml
LaserWar/bin/Debug/System.IO.xml
LaserWar/bin/Debug/System.Runtime.xml
LaserWar/bin/Debug/System.Threading.Tasks.xml
*.suo
*.suo
*.baml
*.cache
LaserWar/obj/x86/Debug/ExtraControls/DialogWnds/MessageDialog.g.cs
LaserWar/obj/x86/Debug/ExtraControls/DialogWnds/MessageDialog.g.i.cs
LaserWar/obj/x86/Debug/ExtraControls/DialogWnds/MessageDialogWnd.g.i.cs
LaserWar/obj/x86/Debug/ExtraControls/ProgressShape.g.cs
LaserWar/obj/x86/Debug/ExtraControls/ProgressShape.g.i.cs
LaserWar/obj/x86/Debug/GeneratedInternalTypeHelper.g.cs
LaserWar/obj/x86/Debug/LaserWar.g.resources
LaserWar/obj/x86/Debug/LaserWar_MarkupCompile.i.cache
LaserWar/obj/x86/Debug/LaserWarApp.g.cs
LaserWar/obj/x86/Debug/MainWindow.g.cs
LaserWar/obj/x86/Debug/MainWindow.g.i.cs
LaserWar/obj/x86/Debug/Veiws/DataDownloaderView.g.cs
LaserWar/bin/Debug/HtmlAgilityPack.xml
LaserWar/LaserWar.sln.docstates.suo
LaserWar/LaserWar.suo
*.suo
*.cache
*.wav
*.cache
LaserWar/obj/x86/Debug/ExtraControls/DialogWnds/PlayerSettingsDialog.g.cs
LaserWar/bin/Debug/AngleSharp.dll
LaserWar/bin/Debug/AngleSharp.dll
LaserWar/bin/Debug/EntityFramework.dll
LaserWar/bin/Debug/EntityFramework.dll
LaserWar/bin/Debug/SQLite.CodeFirst.dll
LaserWar/bin/Debug/Newtonsoft.Json.dll
